<%= form_for(realtor) do |form| %>
  <% if realtor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(realtor.errors.count, "error") %> prohibited this realtor from being saved:</h2>

      <ul>
      <% realtor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :house, "物件名" %>
    <%= form.text_field :house %>
  </div>

  <div class="field">
    <%= form.label :price, "賃料" %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :address, "住所" %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :age,"築年数" %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :remarkes,"備考" %>
    <%= form.text_area :remarkes %>
  </div>

  <div class="nearest_stations">
    <% n = 0 %>
    <%= form.fields_for :nearest_stations do |f| %>
      <h3><%= f.label "最寄り駅#{n += 1}" %></h3>
      <%= f.label :route_name, "路線名" %>
      <%= f.text_field :route_name %><br>
      <%= f.label :station_name, "駅名" %>
      <%= f.text_field :station_name %><br>
      <%= f.label :walking_minutes, "徒歩分数" %>
      <%= f.text_field :walking_minutes %>分
    <% end %>
    <%= form.fields_for :nearest_stations do |f| %>
      <%= render "nearest_station_fields", f: f %>
    <% end %>
    <div class="links">
       <%= link_to_add_association "最寄り駅を追加", form, :nearest_stations %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
