<%= form_for(realtor) do |form| %>
  <% if realtor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(realtor.errors.count, "error") %> prohibited this realtor from being saved:</h2>

      <ul>
      <% realtor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :house %>
    <%= form.text_field :house %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :remarkes %>
    <%= form.text_area :remarkes %>
  </div>

  <div class="nearest_stations">
    <%= form.fields_for :nearest_stations do |f| %>
      <%= f.label "タグ" %>
      <%= render "nearest_station_fields", f: f %>
    <% end %>
    <div class="links">
       <%= link_to_add_association "タグを追加", form, :nearest_stations %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
