<div class="nested-fields">
  <h3><%= f.label :addresses, "最寄り駅" %></h3>
  <%= f.label :route_name, "路線名" %>
  <%= f.text_field :route_name %><br>
  <%= f.label :station_name, "駅名" %>
  <%= f.text_field :station_name %><br>
  <%= f.label :walking_minutes, "徒歩分数" %>
  <%= f.text_field :walking_minutes %>分<br>
  <%= link_to_remove_association "remove task", f %>
</div>
