<p id="notice"><%= notice %></p>

<h1>Realtors</h1>

<table>
  <thead>
    <tr>
      <th>House</th>
      <th>Price</th>
      <th>Address</th>
      <th>Age</th>
      <th>Remarkes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realtors.each do |realtor| %>
      <tr>
        <td><%= realtor.house %></td>
        <td><%= realtor.price %></td>
        <td><%= realtor.address %></td>
        <td><%= realtor.age %></td>
        <td><%= realtor.remarkes %></td>
        <td><%= link_to 'Show', realtor %></td>
        <td><%= link_to 'Edit', edit_realtor_path(realtor) %></td>
        <td><%= link_to 'Destroy', realtor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realtor', new_realtor_path %>
